<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657803985525-fg91c2srdnifplibgvl1rgdo80pg464n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657803985525-fg91c2srdnifplibgvl1rgdo80pg464n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>657803985525-99ust9kgfg6p2u4gnjjbduaarrf340eq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAP1wUAqRn1ADeTtTbUKbzlP1RpOSBzlyM</string>
	<key>GCM_SENDER_ID</key>
	<string>657803985525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qubit.entacom.educatorApp</string>
	<key>PROJECT_ID</key>
	<string>entacom-28445</string>
	<key>STORAGE_BUCKET</key>
	<string>entacom-28445.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657803985525:ios:b9b9372805d09318b4ae3c</string>
	<key>DATABASE_URL</key>
	<string>https://entacom-28445.firebaseio.com</string>
</dict>
</plist>